body{
    background-color: #eee;
}
h1{
    margin-top:5rem;
    color: #1877f2;
}
form{
    width: 25rem;
    margin:auto;
    padding-top: 1rem;
    border: solid 2px #1877f2;
    border-radius: 10px;
    background-color:white;
    padding-bottom: 1rem;
}

input{
    height: 35px;
    width: 22rem;
    font-size:20px ;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-left: 15px;
}

.button{
    text-decoration: none;
    border: 1px solid gray;
    height: 35px;
    width:22rem ;
    background-color: greenyellow;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    border-radius: 5px;
}